/* CENTRADO GENERAL */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1a1a1a;
  }

/* TARJETA */
.card {
  background-color: rgba(255, 255, 255, 0.795);
  color: white;
  padding: 25px;
  border-radius: 15px;
  width: 60%;
  margin: 80px;
  box-shadow: 0 0 20px rgba(225, 0, 0, 0.3);
  animation: aparecer 0.6s ease;
}

/* TITULOS */
.card h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 30px;
  color: rgb(241, 21, 21);
}

.card h2 {
  margin-top: 20px;
  font-size: 25px;
  color: #111;
font-weight: bold;
}

.card p {
  font-size: 20px;
  margin-bottom: 5px;
  margin-bottom: 10px;
  color: #111;
}

iframe {
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  height: 200px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

input, textarea, select{
margin-bottom: 10px;
padding: 10px;
border: 1px solid #ccc; 
border-radius: 8px;
font-size: 14px;
transition: 0.3s;  
}
input:focus,
textarea:focus,
select:focus {
  border-color: #ff4d4d;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 77, 77, 0.5);
}
textarea {
  resize: none;
  height: 80px;
}
button {
  padding: 10px;
  background-color: #ff3c3c;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}
button:hover {
  background-color: #ff0000;
  transform: scale(1.05);
}

.opciones {
  font-weight: bold;
}

.informacion {
  font-weight: bold;
}

#parrafo1 {
text-align: center;
} 

 
