.quincy-logo {
  border-radius: 50px;
}

body {
  background-image: url(../img/fondo-pedir.png);
  background-size: cover;
}

.card-menu {
  background-color: #ffffff;
  border: none;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.menu-section {
  background-color: rgba(4, 4, 4, 0.799);
  color: white;
}

.card-menu:hover {
  transform: scale(1.03);
}

.card-menu img {
  height: 200px;
  object-fit: cover;
}

#hamburguesas .card-menu {
  border: 4px solid #dc35464d;
}

#bebidas .card-menu {
  border: 4px solid #0dcaf047;
}

#combos .card-menu {
  border: 4px solid #ffc10740;
}
