.carousel {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
}

body {
  background-image: url(../img/fondo-pedir.png);
  background-size: cover;
}

.quincy-logo {
  border-radius: 50px;
}

.bgcolor-main {
  background-color: rgb(74, 74, 74);
}

#h2-de-bienvenida {
  font-size: 40px;
}

#aaa {
  width: 150px;
  padding: 15px;
  font-size: large;
  margin: 15px;
}
